# Time Series with Pandas

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

%matplotlib inline

### Datetime

In [5]:
year = 2020
month = 7
day = 12
hour = 8
minute = 15
second = 30
date = datetime(year, month, day, hour, minute, second)
date

datetime.datetime(2020, 7, 12, 8, 15, 30)

In [6]:
type(date)

datetime.datetime

In [11]:
# Convert datetime objects to indices
first_two = [datetime(2017,1,1), datetime(2015,1,2)]
dt_ind = pd.DatetimeIndex(first_two)

In [15]:
data = np.random.randn(2,2)
cols = ['a', 'b']
df = pd.DataFrame(data, dt_ind, cols)
df

                   a         b
2017-01-01  1.546788 -0.581840
2015-01-02  0.702290  0.295682

In [20]:
# Position of index of the maximum
df.index.argmax()

0

In [21]:
# Index of the maximum
df.index.max()

Timestamp('2017-01-01 00:00:00')

In [22]:
# Position of index of the minimum
df.index.argmin()

1

In [23]:
# Index of minimum
df.index.min()

Timestamp('2015-01-02 00:00:00')